<%= form_with(model: jobs_app) do |form| %>
  <% if jobs_app.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(jobs_app.errors.count, "error") %> prohibited this jobs_app from being saved:</h2>

      <ul>
        <% jobs_app.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.text_field :status %>
  </div>

  <div>
  </br>
    <%= form.submit value="Add a Job Application", class:"btn btn-secondary"%>
  </div>
<% end %>
